/* Bugfix laggy server scroll */
.wrapper-25eVIn svg { overflow: hidden; }

/* Hide Help button */
.iconWrapper-2OrFZ1[aria-label="Help"] { display: none; }

/* ------------------ */
/* Hide Nitro upsells */
/* ------------------ */

/* Chatbox buttons */
button[aria-label="Send a gift"] { display: none; }
button[aria-label="Open GIF picker"] { display: none; }
button[aria-label="Open sticker picker"] { display: none; }

/* Hide sticker popup window that appears when you type */
.da-channelTextArea > .container-JHR0NT { display: none; }

/* Hide Nitro button in Home */
.clickable-1JJAn8[data-list-item-id$="___nitro"] { display: none; }

/* Join more than 100 servers upsell */
.nitroUpsell-27TJ8P { display: none; } 

/* Hide Nitro separator in settings */
.separator-gCa7yv { display: none; }
.separator-gCa7yv ~ .separator-gCa7yv { display: block; }

/* Hide Billing header in settings */
.header-2RyJ0Y:nth-child(n+2) { display: none; }
.header-2RyJ0Y:nth-child(n+10) { display: block; }

/* Hide Nitro tabs in Settings */
div[aria-controls="discord-nitro-tab"] { display: none; }
div[aria-controls="nitro-server-boost-tab"] { display: none; }
div[aria-controls="subscriptions-tab"] { display: none; }
div[aria-controls="library-inventory-tab"] { display: none; }
div[aria-controls="billing-tab"] { display: none; }

/* Hide profile customization upsells */
.premiumInlineNotice-159eYs { display: none; }
.shinyButton-3uFlM- { display: none; }
.customizationSection-2f2fhI:nth-of-type(3) { display: none; }
.bannerNitroUpsell-1aRyq0 { display: none; }
.optionBox-1b4n4P:nth-of-type(2) { display: none; }

/* Per server avatar */
.perServerAvatarTitle-2XHGZl { display: none; }
.perServerAvatarTitle-2XHGZl + div { display: none; }
.disabled-3JC_nn { display: none; }

/* Sticker picker */

/* Hide sticker picker */
button[id="sticker-picker-tab"] { display: none; }
.upsell-voV9AC { display: none; }
.emptyGuildUpsell-3UP6BQ { display: none; }

/* Sticker popout */
.packDescription-3drkLS { display: none; }
.stickersList-Q202uA { display: none; }
.packActions-2i3SLO { display: none; }

/* Hide Go Live quality upsells */
.selectorButtonPremiumRequired-mKMbIu { display: none; }

.emojiSection-3Fb9ix > .flex-1xMQg5 > .flex-1xMQg5 > .size14-e6ZScH { display: none; }

/* ------------- */
/* Server boosts */
/* ------------- */

/* Server dropdown */
.colorPremium-p4p7qO { display: none; }
/* TODO: fix hiding separator */
.colorPremium-p4p7qO + .separator-2I32lJ { display: none; }

/* Server settings */
/* TODO: fully hide Boost customization options */
.bannerUpsellContainer-1KrLvE { display: none; }
.premiumGuildAvailabilityIndicator-2yVVuW { display: none; }
.upsell-ldFwNr { display: none; }

/* Hide tabs */
.item-PXvHYJ[aria-controls="stickers-tab"] { display: none; }
.serverBoostTabItem-3vujbv { display: none; }
.serverBoostTabItem-3vujbv + .separator-gCa7yv { display: none; }

/* Thread archive times */
.disabledOptionLabel-1D87i9 { display: none; }
.availabilityIndicator-3BD0dt { display: none; }
.checkboxWrapperDisabled-36r8NK { display: none; }